@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

#loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#loginheader{
    font-size: 3rem;
    font-family: kanit, sans-serif;
    text-align: center;
    margin-bottom: 5rem;
    letter-spacing: 0.25rem;
}

.labels{
    font-family: kanit, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}

#loginbutton{
    width: 8rem;
    height: 2.5rem;
    border-style: solid;
    border-color: rgb(180, 25, 25);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: kanit, sans-serif;
    background-color: rgb(46, 46, 46);
    color: rgb(247, 242, 242);
    letter-spacing: 0.1rem;
}

