@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


nav {
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(44, 10, 44, 0.448);
  font-size: 2rem;
}

#logout-button {
  width: 6rem;
  height: 2rem;
  border-style: solid;
  border-color: rgb(23, 23, 23);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: kanit, sans-serif;
  background-color: rgb(46, 46, 46);
  color: white;
  letter-spacing: 0.1rem;
}

.links {
  font-size: 2rem;
  font-family: kanit, sans-serif;
  color: rgb(66, 222, 66);
}