.font-face-gm {
  font-family: "Benguiat Bold";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* font-family: og-st-font; */
  font-family: "Edo";
  background: black;
  color: whitesmoke;
  text-shadow: 6px 6px 6px red;
}


nav {
  display: flex;
  font-size: 2em;
  justify-content: space-around;
  align-items: center;
}

form {
  padding: 20px;;
}

nav:hover {
  background-color: red;
}

.search {
  margin-top: 20px;
  color: aliceblue;
}

#navbar {
  padding: 2em;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  background-color: black;
  color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-style: double;
  border-color: red;
  border-width: .5rem;
}

input {
  color: whitesmoke;
}

#navbar a {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: red;
  text-decoration: none;
  font-family: og-st;
}

.links a{
  text-decoration: none;
}

*{
  background-color: black;
}

.font-face-gm {
  font-family: "og-st";
}

.labels{
  color: red;
}

.login-container{
  color: red;
}

.inputs{
  color: aliceblue;
}

#form-header{
  color: red;
}

#loginform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: double;
  border-color: red;
  color: red;
  padding: 1rem;
  margin: 2rem;
  border-width: .5rem;
}

#loginbutton{
  color: red;
}

#post-card {
  padding: 20px;
}

#loginheader{
  font-size: 3rem;
  font-family: "edo";
  text-align: center;
  margin-bottom: 5rem;
  letter-spacing: 0.25rem;
}

.labels{
  font-family: "edo";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
}

.button{
  width: 8rem;
  height: 2.5rem;
  border-style: solid;
  border-color: rgb(180, 25, 25);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: edo;
  background-color: red;
  color: black;
  letter-spacing: 0.1rem;
  /* margin: 1rem; */
}

.submit-button {
  width: 8rem;
  height: 2.5rem;
  border-style: solid;
  border-color: rgb(180, 25, 25);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: edo;
  background-color: red;
  color: black;
  letter-spacing: 0.1rem;
  margin: 1rem;
}


.post-card{
  border-style: double;
  border-color: red;
  color: red;
  padding: 1rem;
  margin: 2rem;
  border-width: .5rem;
}

.post-h1{
  text-decoration: underline;
}

#post-form{
    border-style: double;
    border-color: red;
    color: red;
    padding: 1rem;
    margin: 2rem;
    border-width: .5rem;
}

/* #profile-container{
    background-image: url("https: //cdn.mozo.com.au/images/atwood/13989/florian-bar-hawkins-upside-down-2%202.jpg?width=1428")
} */