
body {
  background: url("./assets/st2.jpg");
  color: rgb(241, 238, 238);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;




}

.link-text {
  color: rgb(250, 245, 245);
  text-decoration: none;
}

.item-container {
  display: flex;
  width: 20rem;
  border: 2px solid #f00808;
  background-color: rgba(7, 7, 7, 0.448);
  box-shadow: 20px 20px 10px rgba(245, 243, 243, 0.384);
  justify-content: center, space-evenly;
  margin: 2rem;
  padding: 5%;
  font-family: Kanit;
 
}

#all-Items-Container {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#searchbar{
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

#search{
  width: 30rem;
  height: 3rem;
}
  :placeholder-shown{
    font-size: 1.5rem;
    color: blue;
  }
