*{
    background: black;
    background-color: black;
}


#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    /* font-family: og-st-font; */
    /* font-family: "Edo"; */
    background: black;
    /* color: whitesmoke; */
    text-shadow: 6px 6px 6px red;
}

@font-face {
    font-family: 'Benguiat Bold';
    src: local('Benguiat Bold'),
    url(./assets/Fonts/StangerThings/Benguiat\ Bold.ttf)
    format('truetype');
}



#nav-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 20px;
  font-size: large;
}



.h1-text{
  margin-top: 4em;
}


